<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">JCI AI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav text-uppercase pull-right">
        <!--Make Active-->
        <li><%= link_to "Home", "#", :id => "home" %></li>
        <li><%= link_to "Calendar", "#", :id => "calendar" %></li>
        <li><%= link_to "Activities", "#", :id => "activities" %></li>
        <li><%= link_to "About", "#", :id => "about" %></li>
        <li><%= link_to "Join", "#", :id => "join" %></li>
        <li><%= link_to "Partners", "#", :id => "partners" %></li>
        <li><%= link_to "Log in", "#", :id => "login" %></li>
        <li><%= link_to "@ ?", "#", :id => "att" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>